<div class="reveal-overlay show" *ngIf="showDeactivateAccountForm">
  <div class="reveal show">
    <div class="row">
      <div class="small-12 large-10 large-push-1 column">
        <h3 class="text-center">Cancel Your Membership?</h3>
        <p class="text-center">Please enter the password associated with your account to confirm the cancellation.</p>
        <p class="text-center sub-title">Cancellation will be effective at the end of your current donation cycle.</p>
        <form [formGroup]="deactivateAccountForm" (submit)="onSubmit()" class="deactivate-account-form svod-form">
          <div class="row" *ngIf="errorMessage">
            <div class="small-12 column">
              <div class="svod-form-error">
                <span>{{ errorMessage }}</span>
                <i class="fa fa-times-circle"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 column">
                <input type="password" placeholder="Password" class="form-text" formControlName="password" [class.error]="formErrors.password" required>
                <p class="svod-help-text error" *ngIf="formErrors.password">{{formErrors.password}}</p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 column">
                <button type="submit" class="secondary button expanded form-submit-button">Confirm Cancellation</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="close-button" type="button" (click)="closeDeactivateAccountForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>