<div class="small-12 float-left reset-pass-body">
  <div class="float-left main-container">
    <div class="small-12 float-left img-container">
      <img class="logo-img" src="../../../assets/brand/corco-logo.svg">
    </div>
    <div class="float-left small-12 reset-password-container">
      <div class="float-left reset-password-content-container top-gap">
        <div class="float-left small-12 text-center">
          <h4 class="reset-password-heading">Enter a new password</h4>
        </div>
        <div class="float-left small-12 text-center">
          <span>You just need to create your password</span>
          <span>so you can continue to access Corco.</span>
        </div>
        <div class="float-left small-12 form-container">
          <form class="svod-form reset-form" [formGroup]="resetPassForm" (ngSubmit)="onSubmit(resetPassForm.value)">
            <div class="float-left small-12 margin-top-20 pass-container">
              <label class="reset-form-label">Password</label>
              <input type="{{showPassword ? 'password':'text'}}" class="reset-form-input-field" formControlName="password">
              <span *ngIf="showPassword" class="show-btn" (click)="showPassword = !showPassword">SHOW</span>
              <span *ngIf="!showPassword" class="show-btn" (click)="showPassword = !showPassword">HIDE</span>
            </div>
            <div class="small-12 float-left">
                <span *ngIf="resetPassForm.get('password').value && !resetPassForm.get('password').valid && resetPassForm.get('password').touched"
                      class="help-block sub-little-error margin-0">Password is {{!resetPassForm.get('password').valid && resetPassForm.get('password').value === ''?'required':'not valid'}}</span>
            </div>
            <div class="small-12 float-left margin-top-20">
              <button [disabled]="!resetPassForm.valid" type="submit" class="reset-pass-btn">Save Password</button>
            </div>
            <div class="small-12 float-left margin-top-15 return-to-sign-in-container text-center">
              <a class="return-to-sign-in-link" routerLink="/login">Return to sign in</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
