.reset-pass-body {
  background: $white;
  min-height: 100vh;
  font-family: $body-font-family;
  .main-container {
    width: 100%;
    min-height: 100vh;
    background: $white;
    .img-container {
      min-height: $search-input-width-tablet;
      .logo-img {
        position: relative;
        left: $footer-link-margin-right;
        top: $footer-link-margin-right;
      }
    }
    .reset-password-container {
      display: flex;
      justify-content: center;
      position: relative;
      top: $orbit-content-top-mobile;
      @media only screen and (max-width: 767px) {
        top: $top-bar-right-margin-top;
      }
      .reset-password-content-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        min-height: 500px;
        align-items: center;
        position: relative;
        @media only screen and (max-width: 767px) {
          width: 100%;
          min-height: 410px;
        }
        .reset-password-heading {
          font-size: $search-input-height;
          font-weight: $global-weight-bold;
          color: $black-btn;
        }
        span {
          display: block;
          font-size: $sub-heading;
          color: $black-btn;
        }
        .form-container {
          display: flex;
          justify-content: center;
          .reset-form {
            width: 60%;
            @media only screen and (max-width: 767px) {
              width: 80%;
            }
            .margin-top-20 {
              margin-top: $footer-margin-top;
            }
            .reset-form-label {
              font-size: $footer-font-size;
              color: $dark-grey;
            }
            .reset-form-input-field {
              font-size: $sub-heading;
              height: $orbit-title-font-size-tablet;
              border: 1px solid $dark-grey;
              border-radius: 4px;
              color: $dark-grey;
              padding-left: $search-input-icon-position-top;
            }
            .reset-pass-btn {
              width: 100%;
              max-width: 100%;
              height: $orbit-title-font-size-tablet;
              background: $black-btn;
              color: $white;
              text-transform: $anchor-text-decoration;
              letter-spacing: unset;
              border-radius: 4px;
              border: $anchor-text-decoration;
              cursor: pointer;
              font-size: $sub-heading;
              &:focus {
                outline: $anchor-text-decoration;
              }
              &:disabled {
                opacity: 0.8;
                cursor: not-allowed;
              }
            }
            .margin-top-15 {
              margin-top: $box-child-margin-bottom;
            }
            .return-to-sign-in-container {
              .return-to-sign-in-link {
                display: inline-block;
                color: $dark-grey;
                border-bottom: 1px solid $dark-grey;
                &:hover {
                  text-decoration: $anchor-text-decoration;
                }
              }
            }
          }
          .pass-container {
            position: relative;
            .show-btn {
              position: absolute;
              right: $search-input-icon-position-top;
              top: $box-child-padding;
              font-size: $svod-btn-medium-padding;
              color: $dark-grey;
              cursor: pointer;
            }
          }
        }
      }
      .top-gap {
        padding-top: 80px;
        @media only screen and (max-width: 767px) {
          padding-top: 60px;
        }
      }
    }
    .dont-have-an-account-container {
      display: block;
      position: absolute;
      bottom: $top-bar-right-margin-top;
      left: $top-bar-right-margin-top;
      margin: $top-bar-right-margin-top $global-button-cursor;
      .dont-have-an-account-inner-container {
        width: 60%;
        color: $dark-grey;
        margin: $top-bar-right-margin-top $global-button-cursor $dropdown-large-link-font-size;
        @media only screen and (max-width: 767px) {
          top: $top-bar-right-margin-top;
          width: 80%;
          margin-top: $search-input-icon-position-top;
        }
        a {
          color: $dark-grey;
          border-bottom: 1px solid $dark-grey;
          &:hover {
            text-decoration: $anchor-text-decoration;
          }
        }
      }
    }
    .terms-of-service-and-privacy-policy {
      position: relative;
      font-size: $sub-heading;
      color: $dark-grey;
      @media only screen and (max-width: 767px)   {
        top: $top-bar-right-margin-top;
      }
      .terms-of-service-and-privacy-policy-inner-container {
        @media only screen and (max-width: 767px) {
          width: 100%;
          padding: $top-bar-right-margin-top $small-text-font-size;
          margin: $small-text-font-size $global-button-cursor;
        }
        a {
          color: $dark-grey;
          border-bottom: 1px solid $dark-grey;
          &:hover {
            text-decoration: $anchor-text-decoration;
          }
        }
      }
    }
    .grey-color {
      color: $dark-grey !important;
    }
  }
}


